body{
    margin:0;
}
a {
  color:black;
  text-decoration: none;
   }

#active {
    color:red;
 }
h1 {
    font-size:45px;
    border-bottom:2px solid black;
    text-align: center;
    margin: 0px;
    padding: 40px;
}
#grid ol{
    font-size:20px;
    margin: 0;
    border-right:2px solid black;
    width:120px;
    padding: 40px;
    
}
#grid{
    display: grid;
    grid-template-columns: 150px 3fr;
    
}
#content{
    padding-left: 100px;
}
@media(max-width: 800px)
{
    #grid{
        display: block;
    }
    #grid ol{
        display:block;
        border-right-width: 0px ;
        padding-left:10vw;
        
    }
    h1 {
        border-bottom:2px solid black;
        font-size:10vw;
    }
    #content{ 
        padding: 5vw;

    }
}    
